@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-main font-medium text-neutral-slate-900;
    }
}

@layer components {
    .input-wrapper {
        @apply mb-6;
    }

    .input-container {
        @apply w-[380px] h-12 border-2 border-neutral-slate-700 rounded-md overflow-hidden flex;
    }

    .input-label {
        @apply text-neutral-slate-700 block mb-2 text-sm;
    }

    .input-tag {
        @apply bg-neutral-slate-100 px-4 h-full w-fit flex justify-center items-center text-neutral-slate-700 font-bold;
    }

    .input {
        @apply w-full px-3 border-none outline-none font-bold;
    }

    .two-inputs .input-container {
        @apply w-full;
    }

    .radio-input-container {
        @apply h-12 border-2 px-3 border-neutral-slate-700 rounded-md flex justify-start items-center gap-3 cursor-pointer;
    }

    .radio-input-container label {
        @apply w-full font-bold cursor-pointer;
    }

    .radio-input {
        @apply relative;
    }

    input.radio-input::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background: hsl(0, 0%, 100%);
        border-radius: 50%;
        border: 2px solid hsl(200, 24%, 40%);
    }

    input.radio-input::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: hsl(61, 70%, 52%);
        display: none;
    }

    input.radio-input:checked:before {
        border-color: hsl(61, 70%, 52%);
    }

    input.radio-input:checked::after {
        display: block;
    }
}